permissions:
  contents: write

jobs:
  commit_job:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Make Random Commits
        run: |
          for ((i=1; i<=${{ steps.set_count.outputs.count }}; i++))
          do
            echo "$(date) - $i" >> requirement.txt
            git config --local user.email "ajityamgar855@gmail.com"
            git config --local user.name "Ajit"
            git add requirement.txt
            git commit -m "Random commit $i"
          done
          git push https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git HEAD:${{ github.ref }}
